# Break long lines at max at 92 columns  
set fill-column = 92

# Enable colors regardless of the NO_COLOR environment variable
set enable-colors = 1

# Hide the closing line of preformatted blocks
set hide-pre-closing-line = 1

# If you have the duckling-proxy installed, decomment the following
# lines to use it for HTTP and HTTPS links.
#proxy "http" via "gemini://localhost:1965"
#proxy "https" via "gemini://localhost:1965"

# Some opinionated graphical improvements:

style line.link		attr normal
style line.quote	attr dim normal
style line.pre.start	bg color255
style line.pre		bg color255
style line.pre.end	bg color255

style line.compl.current {
	bg color50
	attr normal
}

style line.download.ongoing	bg color254
style line.download.done	bg color254
style line.download.info	bg color254
style download			bg color254
