# break long lines at max at 92 columns  
set fill-column = 92

# enable colors regardless of the NO_COLOR environment variable
set enable-colors = 1

# Hide 
set hide-pre-context = 0
set hide-pre-blocks = 1

# If you have the duckling-proxy installed, decomment the following
# lines to use it for HTTP and HTTPS links.
#proxy "http" via "gemini://localhost:1965"
#proxy "https" via "gemini://localhost:1965"

# Some opinionated graphical improvements:

style line.item	prefix " • " "   "
style line.link prefix "→ " "  "

style line.quote {
	prefix " ┃ "
	attr dim normal
}

style line.pre.start {
	prefix "─── " "    "
	bg white
}

style line.pre {
	bg white
	fg black
}

style line.pre.end {
	prefix "─── "
	bg white
}

style line.compl.current {
	bg cyan
	attr normal
}
