TAGS
**/.deps
compat/.deps
pages/about_crash.gmi
pages/about_new.gmi
phos/.deps
phos/.dirstamp
phos/*.o
**/Makefile
**/Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
missing
stamp-h1
ylwrap
**/*.o
cmd.gen.c
parse.c
pages.c
telescope
pagebundler
compile_flags.txt
telescope-*.tar.gz
emoji-matcher.c
