TAGS
pages/*.gmi

**/*.o
**/.deps
**/.dirstamp
**/Makefile
**/Makefile.in
**/build
**/etc
**/obj

aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
missing
stamp-h1
ylwrap
test-driver

cmd.gen.c
parse.c
pages.c
telescope
pagebundler
telescope-*.tar.gz
u/emoji-matcher.c

site/gemini
site/www
